doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Mulih Real Estate
    body
        header.page-header 
            .content-zone
                .page-header__wrapper
                    .logo
                        a(href='#')
                            img(src="./img/logo-mulih.svg", alt="Mulih Logotype")
                    nav.heder-nav 
                        .main-menu 
                            ul.main-menu__list 
                                li.main-menu__item 
                                    a.main-menu__link(href="#") Home
                                li.main-menu__item 
                                    a.main-menu__link(href="#") Property
                                li.main-menu__item 
                                    a.main-menu__link(href="#") About
                                li.main-menu__item 
                                    a.main-menu__link(href="#") Service
                                li.main-menu__item 
                                    a.main-menu__link(href="#") Contact
                        .auth-controls
                            button.btn-secondary Sign In
                            button.btn-primary Login
        section.hero 
            .content-zone 
                .hero__content
                    .tag Real estate
                    h1.hero__title Let's hunt for your dream residence
                    .hero__description 
                        p Explore our range of beautiful properties with the addition of separate accommodation suitable for you.
                .search-form 
                    ul.search-form__tabs 
                        li.search-form__tab.searchform__tab--active Buy
                        li.search-form__tab.searchform__tab--normal Rent
                    form.search-form__buy
                    form.search-form__rent