// main colors

$color_main_light: #69B99D;
$color_main_dark: #0B2E29;


// secondary colors

$color_secondary_light: #F8F9FE;
$color_secondary_medium: #73788C;
$color_secondary_dark: #1F2744;


// additional colors

$color_mixed: #054457;
$color_social_links: #29CDB5;


// gray colors

$color_white: #FFFFFF;
$color_gray_950: #FEFEFF;
$color_gray_900: #F5F5F5;
$color_gray_800: #DEDCDA;
$color_gray_700: #A6A6A6;
$color_gray_600: #8E8E8E;
$color_gray_500: #767676;


// shadows

$shadow_gray: 35px 35px 65px rgba(146, 106, 120, 0.16);
$shadow_color: 0px 0px 20px rgba(105, 185, 157, 0.58);