* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5;
}

@media (max-width: 700px) {
    body {
        color: #fff;
        background-color: #000;
    }
}

@import 'chunks/title.css';
@import 'chunks/news.css';