.logo {
    width: 115px;
    height: 40px;

    a {
        display: block;
    }

    img {
        width: 100%;
    }
}

.main-menu {
    &__list {
        @include setFlexSpaceBetween($unit * 6);
        align-items: center;
    }

    &__item {
        @include mainMenuFont;
        color: $color_gray_600;

        &--active {
            color: $color_main_light;

            &::after {
                content: "";
                display: block;
                width: 6px;
                height: 6px;
                background-color: $color_main_light;
                border-radius: 50%;
                overflow: hidden;
                margin: 0 auto;
                margin-top: $unit;
            }
        }
    }

    &__link {
        &:hover {
            color: $color_main_light;
        }
    }
}

.btn-primary {
    @include setButton();
    background-color: $color_main_light;
    color: $color_white;
}

.btn-secondary {
    @include setButton();
    background-color: transparent;
    color: $color_main_light;

    &:hover {
        box-shadow: none;
        color: $color_main_dark;
    }
}


.tag {
    padding: ($unit * 3 / 2) ($unit * 3);
    background-color: $color_secondary_light;
    @include setInlineFlexCenter;
    @include tagsFont;
    color: $color_main_light;
}
