.content-zone {
    width: $size_content;
    margin: 0 auto;
    padding: 0 $unit_3x;
    min-width: $size_content;
}

// sections

.page-header {
}

.hero {
}

.recomendations {
}

.features {
}

.about {
}

.feedback {
}

.page-footer {
}
