.page-header {
    background-color: $color_gray_900;
    border-bottom: 1px solid black;

    display: flow-root;

    &__wrapper {
        @include setFlexSpaceBetween;
        margin: ($unit * 4) 0;
    }

    &__nav {
        @include setFlexSpaceBetween(32px);
        align-items: center;
    }

    &__auth-controls {
        @include setFlexSpaceBetween(8px);
    }
}

.hero {
    background-color: $color_gray_900;
    background-image: url("../img/house-cover.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
    height: 400px;
    display: flow-root;

    &__wrapper {
        margin-top: ($unit * 4);
        margin-bottom: ($unit * 14);
    }

    &__content {
        width: ($unit * 75);
    }

    &__title {
        @include heroTitleFont;
        color: $color_main_dark;
    }
}

.page-footer {
    background-color: $color_gray_900;
}
