// font-family: 'DM Sans', sans-serif;
// font-family: 'Nunito Sans', sans-serif;
// font-family: 'Poppins', sans-serif;
// font-family: 'Rubik', sans-serif;

@mixin setFont($fontName, $fontWeight, $fontSize, $lineHeight, $letterSpacing) {
    font-family: $fontName, sans-serif;
    font-weight: $fontWeight;
    font-size: $fontSize;
    line-height: $lineHeight;
    letter-spacing: $letterSpacing;
}

@mixin mainMenuFont {
    @include setFont('Poppins', 500, 18px, 1.444, 0.5px);
}

@mixin buttonsFont {
    @include setFont('Poppins', 500, 16px, 1.5, 0.25%);
}

@mixin tagsFont {
    @include setFont('Poppins', 500, 16px, 1.444, 0.5px);
    text-transform: uppercase;
}

@mixin heroTitleFont {
    @include setFont('Rubik', 600, 64px, 1.156, 0.25%);
}