// main colors

$color_main_light: #69b99d;
$color_main_dark: #0b2e29;

// secondary colors

$color_secondary_light: #f8f9fe;
$color_secondary_medium: #73788c;
$color_secondary_dark: #1f2744;

// additional colors

$color_mixed: #054457;
$color_social_links: #29cdb5;

// gray colors

$color_white: #ffffff;
$color_gray_950: #fefeff;
$color_gray_900: #f5f5f5;
$color_gray_800: #dedcda;
$color_gray_700: #a6a6a6;
$color_gray_600: #8e8e8e;
$color_gray_500: #767676;

// shadows

$shadow_gray: 35px 35px 65px rgba(146, 106, 120, 0.16);
$shadow_color: 0px 0px 20px rgba(105, 185, 157, 0.58);

// sizes

$size_content: 1196px;

// pixel grid

$unit: 8px;
