$base-font-size: 16px;

* {
  box-sizing: border-box;
}

img {
  max-width: 700px;
}

@mixin ph {
  @media (max-width: 700px) {
    @content;
  }
}

body {
  font-size: $base-font-size;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.5;
  background: url("../img/e.jpg") no-repeat center/cover;

  @include ph {
    color: #fff;
    background-color: #000;
  }
}

@import "chunks/title.scss";
@import "chunks/news.scss";
